apache-airflow-providers-http 
pandas                         
requests
pyarrow
numpy
python-dotenv
apache-airflow-providers-snowflake
apache-airflow-providers-slack
sqlalchemy 
psycopg2-binary 
snowflake-connector-python